<footer>
    <p>Copyright © <%= settings.WEBSITE %> Bank. Banking Simplified...</p>
 </footer>

<style>
/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
footer {
    width: 90%;
    text-align: center;
    color: #858688;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    margin: 30px auto 10px auto;
    }
}
/* MOBILE VIEW */


/*TABLET VIEW*/
@media only screen and (min-width: 700px) and (max-width: 850px) {
    footer {
        width: 90%;
        text-align: center;
        color: #858688;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 13px;
        margin: 50px auto 10px auto;
    }
}
/*TABLET VIEW*/


/*DESKTOP VIEW*/
@media only screen and (min-width: 850px) {
    footer {
        width: 90%;
        color: #666666;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 13px;
        margin: 50px auto 10px auto;
    }
}
/*DESKTOP VIEW*/
</style>