<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from banking.epitomeexchange.com/forgot_password.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Dec 2022 21:21:16 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src = "/js/interactive.js"></script>
    <script src="https://kit.fontawesome.com/0855e51304.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="assetsAuth/fonts/material-icon/css/material-design-iconic-font.min.html">

    <!-- Main css -->
    <link rel="stylesheet" href="/assetsAuth/css/style.css">
    <style> 
		#goog-gt-tt, .goog-te-balloon-frame{display: none !important;} 
        .goog-text-highlight { background: none !important; box-shadow: none !important;}
		body{ top: 0 !important;}
        .goog-te-banner-frame{display: none !important;}
		.goog-logo-link{display: none !important;}
        .goog-te-gadget{height: 28px !important;  overflow: hidden;}
		iframe.VIpgJd-ZVi9od-ORHb-OEVmcd{display: none !important;}
	 </style>   <!-- NA DIS CODE DEY REMOVE THOSE DIRTY FROM GOOGLE TRANSLATOR VERY IMPORTANT. NO NEED FOR JS AGAIN-->
</head>
<body>

    <!-- overlay --> <%- include('./partials/overlay.ejs') %>

    <div class="main">
        <div id="google_translate_element" style="display: block; width: 10%; margin: 0px auto 10px auto;"></div>
        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form id="forgot_password_form" class="signup-form">
                        <h2 class="form-title">Enter New Password</h2>

                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                              new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                            }
                            </script>
                            
                            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                

                        <div class="form-group">
                            <input type="password" id="password" class="form-input" placeholder="Enter New Password"  name="password" autofocus required>
                        </div>


                        <div class="form-group">
                            <input type="password" id="confirm_password" class="form-input" placeholder="Confirm Password"  name="confirm_password" autofocus required>
                        </div>

                        <div class="form-group">
                            <button class="form-submit"  id = "createpass_Btn">Submit</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>

    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

<!-- Mirrored from banking.epitomeexchange.com/forgot_password.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Dec 2022 21:21:16 GMT -->
</html>
<script type="text/javascript"> 

    $( document ).ready(function() {
           
    //VALIDATE PASSWORD
    let transfer_btn = $("#transfer_btn");

    transfer_btn.click(function(e) {
    
        let pass = $("#password").val()
    
      let confirm_pass = $("#confirm_password").val()
      
       if (pass !== confirm_pass) {
    
        e.preventDefault();
    
        alert("Password must match 'confirm password'")
    
    }
    
    })
  
});
</script>
  