<!DOCTYPE html>
<html>
<head>

  <style>
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
     h2 {
      margin: 5px 0px 5px 0;
      font-size: 15px;
      line-height: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p, b {
      font-size: 14px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  </style>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Complaint Email</title>
</head>
<body>
  <h2>Reply users using their email below.</h2><br>
  <p> <b>Full Name:</b> {{name}}</p>
  <p><b>Email:</b> {{email}}</p>
  <p> <b>Subject:</b> {{topic}}</p>
  <p><b>Complaints:</b> {{message}}</p>
</body>
</html>