/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form Container */
.container {
    background: #ffffff;
    padding: 20px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

/* Form Heading */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Input Groups */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #57048A; /* Your brand color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #57048A;
}

button:disabled {
    opacity: 0.3;
}

/* Login Link */
.login-link {
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    color: #57048A;
    text-decoration: none;
}

/* DESKTOP VIEW */
@media only screen and (min-width: 700px) {
    /* Form Container */
    .container {
        background: #ffffff;
        padding: 20px;
        width: 500px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        box-sizing: border-box;
    }
}